<!-- partials/artefacts.html -->
<div id="tab-artefacts" class="tab-content">
  <div class="equipment-set-details">
    <div class="set-description-and-focus">
        <div class="equipment-set-description">
            <h3>Description du Set</h3>
            <p class="equipment-set-description-text"></p>
        </div>
        <div class="focus-stats">
            <h3>Stats à Focus</h3>
            <ul class="focus-stats-list"></ul>
        </div>
    </div>
    <div class="artefacts-display">
        <h3>Artefacts</h3>
        <div class="artefacts-container">
            <!-- Les artefacts seront injectés ici par JS -->
        </div>
    </div>
    <div class="cores-display">
        <h3>Noyaux</h3>
        <div class="cores-container">
            <!-- Les noyaux seront injectés ici par JS -->
        </div>
    </div>
  </div>
</div>

<!-- Conteneurs pour les popups d'effets (tooltips) -->
<div id="set-effects" class="effects-container" style="display: none; position: absolute;">
    <h3></h3>
    <ul id="set-effects-list"></ul>
</div>
<div id="core-effect-bubble" class="effects-container" style="display: none; position: absolute;">
    <h3 id="core-effect-title"></h3>
    <div id="core-effect-description"></div>
</div>
