<div id="description" class="tab-content active">
  <h2>Description</h2>
  <p>{{ character.description }}</p>

  {% if character.evolutions and character.evolutions|length > 0 %}
  <h3>Évolutions</h3>
  <div class="evolutions">
    <ul>
      {% for evolution in character.evolutions %}
      {% if evolution.range %}
      <!-- Afficher les évolutions groupées (A06-A10) -->
      <li>
        <img
          src="{{ url_for('static', filename='images/Advancement/' + evolution.id + '.webp') }}"
          alt="{{ evolution.id }}"
          class="evolution-image evolution-range"
        />
        <span>{{ evolution.description|safe }}</span>
      </li>
      {% else %}
      <!-- Afficher les évolutions individuelles (A01 à A05) -->
      <li>
        <img
          src="{{ url_for('static', filename='images/Advancement/' + evolution.id + '.webp') }}"
          alt="{{ evolution.id }}"
          class="evolution-image"
        />
        <span>{{ evolution.description|safe }}</span>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
  </div>
  {% else %}
  <p>Aucune évolution disponible pour ce personnage.</p>
  {% endif %}
</div>
