<div id="description" class="tab-content active">
  <h2>Description</h2>
  <p>{{ character.description }}</p>

  {% if character.weapon and character.weapon|length > 0 %}
  <h3>Arme</h3>
  <div class="weapon">
    {% for weapon in character.weapon %}
    <div class="weapon-image">
      <img
        src="{{ url_for('static', filename=weapon.image) }}"
        alt="{{ weapon.name }}"
      />
    </div>
    <div class="weapon-stats">
      <strong>{{ weapon.name }}</strong>
      <p>{{ weapon.stats|safe }}</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Aucune arme disponible pour ce personnage.</p>
  {% endif %} {% if character.evolutions and character.evolutions|length > 0 %}
  <h3>Évolutions</h3>
  <div class="evolutions">
    <ul>
      {% for evolution in character.evolutions %}
      <li>
        <!-- Afficher l'image de l'évolution -->
        <img
          src="{{ url_for('static', filename='images/Advancement/' + evolution.id + '.webp') }}"
          alt="{{ evolution.id }}"
          class="evolution-image"
        />
        <!-- Afficher la description de l'évolution du personnage -->
        <span>{{ evolution.description|safe }}</span>

        <!-- Afficher la description de l'évolution de l'arme correspondante -->
        {% if character.weapon and character.weapon|length > 0 %} {% for weapon
        in character.weapon %} {% for weapon_evolution in weapon.evolutions %}
        {% if weapon_evolution.number == evolution.number or
        (weapon_evolution.range and weapon_evolution.range == evolution.range)
        %}
        <span>{{ weapon_evolution.description|safe }}</span>
        {% endif %} {% endfor %} {% endfor %} {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <p>Aucune évolution disponible pour ce personnage.</p>
  {% endif %}
</div>
