<div id="shadows" class="tab-content">
  <h2>Shadows</h2>
  {% if character.shadows and character.shadows|length > 0 %}
  <table id="shadows-table">
    <tr>
      {% for shadow in character.shadows %}
      <td>
        <div class="shadow-card">
          {% if shadow.codex %}
              <a href="{{ url_for('shadow_details', shadowName=shadow.name) }}">
                <img
                  src="{{ url_for('static', filename=shadow.codex) }}"
                  alt="{{ shadow.name or 'shadow Image' }}"
                />
              </a>
              {% else %}
              <img
                src="{{ url_for('static', filename=shadow.codex) }}"
                alt="{{ shadow.name or 'shadow Image' }}"
              />
              {% endif %}
          <p class="shadow-name" hidden>{{ shadow.name }}</p>
          <p class="shadow-description" hidden>{{ shadow.description|safe }}</p>
        </div>
      </td>
      {% if loop.index % 6 == 0 %}
      <!-- Change 5 to the number of columns you want per row -->
    </tr>
    <tr>
      {% endif %} {% endfor %}
    </tr>
  </table>
  {% else %}
  <p class="no-shadows">No shadows available for this character.</p>
  {% endif %}
</div>
