<h2>Armes</h2>
{% if character.weapon and character.weapon|length > 0 %}
<div class="weapons-container">
  {% for weapon in character.weapon %}
  <div class="weapon-card">
    <div class="weapon-image">
      <img
        src="{{ url_for('static', filename=weapon.image) }}"
        alt="{{ weapon.name }}"
      />
    </div>
    <div class="weapon-stats">
      <strong>{{ weapon.name }}</strong>
      <p>{{ weapon.stats|safe }}</p>
    </div>

    <!-- Système d'évolution pour l'arme -->
    {% if weapon.evolutions and weapon.evolutions|length > 0 %}
    <h3>Évolutions</h3>
    <div class="weapon-evolutions">
      <ul>
        {% for evolution in weapon.evolutions %} {% if evolution.range %}
        <!-- Afficher les évolutions groupées (A06-A10) -->
        <li>
          <img
            src="{{ url_for('static', filename='images/Advancement/' + evolution.id + '.webp') }}"
            alt="{{ evolution.id }}"
            class="weapon-evolution-image weapon-evolution-range"
          />
          <span>{{ evolution.description|safe }}</span>
        </li>
        {% else %}
        <!-- Afficher les évolutions individuelles (A01 à A05) -->
        <li>
          <img
            src="{{ url_for('static', filename='images/Advancement/' + evolution.id + '.webp') }}"
            alt="{{ evolution.id }}"
            class="weapon-evolution-image"
          />
          <span>{{ evolution.description|safe }}</span>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    {% else %}
    <p>Aucune évolution disponible pour ce personnage.</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% else %}
<p>Aucune arme disponible pour ce personnage.</p>
{% endif %}
