/* Styles spécifiques à la page des personnages */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#character-grid {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#character-grid li {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    flex-basis: 10%; /* 10 items per row */
}

#character-grid p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

#character-grid img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#character-grid img:hover {
    transform: scale(1.1);
}

.character-type {
    text-align: center;
    margin-bottom: 20px
}

.type-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.type-button img{
  height: 20px;
  width: 20px;
}

.rarity-filter {
  text-align: center;
  margin-bottom: 20px;
}

.rarity-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-character-btn {
  display: block;
  margin: 0 auto 18px auto;
  text-align: center;
}

@media (max-width: 1600px) {
    #character-grid li {
        flex-basis: 12.5%; /* 8 items per row */
    }
}

@media (max-width: 1200px) {
    #character-grid li {
        flex-basis: 20%; /* 5 items per row */
    }
}

@media (max-width: 768px) {
    #character-grid img {
        width: 120px;
    }
    #character-grid li {
        padding: 8px;
        flex-basis: 25%; /* 4 items per row */
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
    }
    #character-grid img {
        width: 100px;
    }
    #character-grid li {
        padding: 5px;
        flex-basis: 50%; /* 2 items per row */
    }
}
