/* Styles spécifiques à la page des personnages */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

td p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

table img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

table img:hover {
    transform: scale(1.1);
}

.character-type {
    text-align: center;
    margin-bottom: 20px
}

.type-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.type-button img{
  height: 20px;
  width: 20px;
}

.rarity-filter {
  text-align: center;
  margin-bottom: 20px;
}

.rarity-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.character-table {
  width: 100%;
  text-align: center
}

#add-character-btn {
  display: block;
  margin: 0 auto 18px auto;
  text-align: center;
}

@media (max-width: 768px) {
    table img {
        width: 120px;
    }
    td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
    }
    table {
        width: 100%;
    }
    table img {
        width: 100px;
    }
    td {
        padding: 5px;
        flex: 1 1 50%;
        max-width: 50%;
        box-sizing: border-box;
    }
    td img {
        margin: 0 auto;
        display: block;
    }
    td p {
        margin: 5px auto 0 auto;
        font-size: 0.9rem;
        text-align: center;
        width: 100%;
    }
    tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-height: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 15px;
    }
    table {
        width: 100%;
    }
    table img {
        width: 120px;
    }
    td {
        padding: 8px;
        flex: 1 1 20%;
        max-width: 20%;
        box-sizing: border-box;
    }
    td img {
        margin: 0 auto;
        display: block;
    }
    td p {
        margin: 5px auto 0 auto;
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
    }
    tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
