html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

main > .container > p {
  color: #ffcc00;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.menu-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
  width: fit-content;
  max-width: 770px;
}

section.image-container {
  position: relative;
  display: inline-block;
}

.hotspot {
  position: absolute;
  cursor: pointer;
}

/* Reset styles for button hotspots to make them invisible */
button.hotspot {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

.hotspot:hover {
  background-color: rgba(
    128,
    0,
    128,
    0.5
  );
  border-color: #800080;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 10;
}

.hotspot:hover .tooltip {
  display: block;
}

.hotspot a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hotspot a:hover {
  color: #ffcc00;
}

/* Positionnement des hotspots */
.hotspot-1 {
  top: 12.1%;
  left: 3.5%;
  width: 75%;
  height: 8.2%;
}

.hotspot-2 {
  top: 21.3%;
  left: 3.5%;
  width: 23%;
  height: 12.4%;
}

.hotspot-3 {
  top: 21.3%;
  left: 29%;
  width: 23%;
  height: 12.4%;
}

.hotspot-4 {
  top: 21.3%;
  left: 55%;
  width: 22.2%;
  height: 6%;
}

.hotspot-5 {
  top: 27.8%;
  left: 55%;
  width: 22.2%;
  height: 6%;
}

.hotspot-6 {
  top: 35%;
  left: 3.5%;
  width: 23%;
  height: 8%;
}

.hotspot-7 {
  top: 35%;
  left: 29%;
  width: 23%;
  height: 8%;
}

.hotspot-8 {
  top: 35%;
  left: 55%;
  width: 22.2%;
  height: 8%;
}

.hotspot-9 {
  top: 44%;
  left: 3.5%;
  width: 36%;
  height: 8%;
}

.hotspot-10 {
  top: 44%;
  left: 41.5%;
  width: 36%;
  height: 8%;
}

.hotspot-11 {
  top: 53%;
  left: 3.5%;
  width: 17%;
  height: 8%;
}

.hotspot-12 {
  top: 53%;
  left: 22.5%;
  width: 17%;
  height: 8%;
}

.hotspot-13 {
  top: 53%;
  left: 41.5%;
  width: 17%;
  height: 8%;
}

.hotspot-14 {
  top: 53%;
  left: 60.5%;
  width: 17%;
  height: 8%;
}

.hotspot-15 {
  top: 61.9%;
  left: 3.5%;
  width: 17%;
  height: 8%;
}

.hotspot-16 {
  top: 61.9%;
  left: 22.5%;
  width: 17%;
  height: 8%;
}

.hotspot-17 {
  top: 61.9%;
  left: 41.5%;
  width: 17%;
  height: 8%;
}

.hotspot-18 {
  top: 61.9%;
  left: 60.5%;
  width: 17%;
  height: 8%;
}

.hotspot-19 {
  top: 71%;
  left: 3.5%;
  width: 17%;
  height: 8%;
}

.hotspot-20 {
  top: 71%;
  left: 22.5%;
  width: 17%;
  height: 8%;
}

.hotspot-21 {
  top: 71%;
  left: 41.5%;
  width: 17%;
  height: 8%;
}

.hotspot-22 {
  top: 71%;
  left: 60.5%;
  width: 17%;
  height: 8%;
}

.hotspot-23 {
  top: 80.2%;
  left: 3.5%;
  width: 17%;
  height: 8%;
}

.hotspot-24 {
  top: 80.2%;
  left: 22.5%;
  width: 17%;
  height: 8%;
}

.hotspot-25 {
  top: 80.2%;
  left: 41.5%;
  width: 17%;
  height: 8%;
}

.hotspot-26 {
  top: 80.2%;
  left: 60.5%;
  width: 17%;
  height: 8%;
}

.hotspot-27 {
  top: 89.4%;
  left: 3.5%;
  width: 17%;
  height: 8%;
}

.hotspot-28 {
  top: 89.4%;
  left: 22.5%;
  width: 17%;
  height: 8%;
}

.hotspot-29 {
  top: 89.4%;
  left: 41.5%;
  width: 17%;
  height: 8%;
}

.hotspot-30 {
  top: 89.4%;
  left: 60.5%;
  width: 17%;
  height: 8%;
}

.hotspot-31 {
  top: 9%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-32 {
  top: 14%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-33 {
  top: 19%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-34 {
  top: 23.8%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-35 {
  top: 28.5%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-36 {
  top: 33.3%;
  left: 85%;
  width: 12.5%;
  height: 4%;
}

.hotspot-37 {
  top: 54%;
  left: 82.7%;
  width: 17%;
  height: 15%;
}

.hotspot-38 {
  top: 89%;
  left: 82.7%;
  width: 17%;
  height: 4%;
}

@media (max-width: 768px) {
  .hotspot {
    border: 2px solid #800080;
  }
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
