html,
body {
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les paddings par défaut */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  height: 100%; /* S'assure que le body et le html occupent toute la hauteur */
}

body {
  background-size: cover; /* L'image de fond couvre tout l'écran */
  background-position: center; /* Centre l'image de fond */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.hidden {
  display: none; /* Masque complètement l'élément */
  pointer-events: none; /* Désactive les interactions avec la souris */
  visibility: hidden; /* Rend l'élément invisible */
}

/* Style pour le titre */
h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 10px #8000ff, 0 0 20px #8000ff; /* Glow violet */
    margin-bottom: 20px;
  }