{% extends "emails/base_email.html" %}

{% block content %}
    <p>Bonjour {{ username }},</p>
    <p>
        Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte.
        Pour choisir un nouveau mot de passe, veuillez cliquer sur le bouton ci-dessous :
    </p>
    <a href="{{ reset_url }}" class="button">Réinitialiser le mot de passe</a>
    <p>
        Ce lien expirera dans une heure. Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail en toute sécurité.
    </p>
    <p>Merci,<br>L'équipe du Solo Leveling Arise Guide</p>
{% endblock %}
