{% extends 'admin_base.html' %}

{% block title %}Gestion des Noyaux{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='css/admin_cores.css') }}">
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='css/partials/edit_cores_modal.css') }}">
{% endblock %}

{% block admin_content %}
    <h1>Gestion des Noyaux</h1>
    <div style="text-align:center; margin-bottom: 24px;">
        <button id="create-core-btn" class="admin-btn">Créer un nouveau noyaux</button>
    </div>
    <table>
        <tr>
            <th>Image</th>
            <th>Couleur</th>
            <th>Numero</th>
        </tr>
        {% for core in cores %}
        <tr>
            <td>
                {% if core.image %}
                    <a href="#" data-core-name="{{ core.color }}">
                        <img src="{{ core.image }}" alt="{{ core.color }}">
                    </a>
                {% else %}
                    <span style="color:#ff3333;">Aucune image</span>
                {% endif %}
            </td>
            <td>{{ core.color }}</td>
            <td>{{ core.number }}</td>
        </tr>
        {% endfor %}
    </table>
    {% include 'partials/edit_cores_modal.html' %}
{% endblock %}

{% block body_js %}
    <script src="{{ asset_url_for('static', filename='js/admin_cores.js') }}"></script>
{% endblock %}
