<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.name }} - Solo Leveling Arise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/characters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_details.css') }}">
</head>
<body 
    class="{% if character.background_image %}background-image{% endif %}"
    style="{% if character.background_image %}background-image: url('{{ url_for('static', filename=character.background_image) }}');{% endif %}"
>
    {% include 'navbar.html' %}

    <!-- Conteneur principal divisé en deux colonnes -->
    <div class="layout">
        <!-- Colonne pour l'image -->
        <div class="image-column">
            <div class="character-image">
                <img src="{{ url_for('static', filename=character.image) }}" alt="{{ character.name }}">
            </div>
        </div>

        <!-- Colonne pour le contenu principal -->
        <div class="content-column">
            <div class="container">
                <h1>{{ character.name }}</h1>
                <p style="text-align: center; color: #ffcc00; font-weight: bold;" hidden>
                    Type: {{ character.type }}
                </p>

                <!-- Image du personnage (affichée sous le type sur téléphone) -->
                <div class="character-image">
                    <img src="{{ url_for('static', filename=character.image) }}" alt="{{ character.name }}">
                </div>

                <!-- Conteneur pour les onglets et le contenu -->
                <div class="character-info">
                    <div class="tabs-and-content">
                        <!-- Système d'onglets -->
                        <div class="tabs">
                            <div class="tab active" data-tab="description">Description</div>
                            <div class="tab" data-tab="passives">Passifs</div>
                            <div class="tab" data-tab="skills">Skills</div>
                            <div class="tab" data-tab="artefacts" id="artefacts-tab">
                                Artefacts
                            </div>
                            <div class="tab" id="dropdown-tab">
                                <span class="dropdown-arrow" id="dropdown-arrow">▼</span>
                                <div class="dropdown-options" id="dropdown-options">
                                    <ul>
                                        {% for set in character.equipment_sets %}
                                            <li data-set-index="{{ loop.index0 }}">{{ set.set_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Contenu des onglets -->
                        {included 'partials/review.html' %}
                        
                        <div id="passives" class="tab-content">
                            <h2>Passifs</h2>
                            {% if character.passives and character.passives|length > 0 %}
                                {% for passive in character.passives %}
                                    <div class="passive {% if passive.principal == 'True' %}principal{% endif %}">
                                        {% if passive.image %}
                                            <img src="{{ url_for('static', filename=passive.image) }}" alt="{{ passive.name or 'Passive Image' }}">
                                        {% endif %}
                                        <div>
                                            {% if passive.name %}
                                                <strong>{{ passive.name }}</strong><br>
                                            {% endif %}
                                            <p>{{ passive.description|safe }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Informations sur les passifs du personnage.</p>
                            {% endif %}
                        </div>
                        <div id="skills" class="tab-content">
                            <h2>Skills</h2>
                            {% if character.skills and character.skills|length > 0 %}
                                {% for skill in character.skills %}
                                    <div class="skill {% if skill.principal == 'True' %}principal{% endif %}">
                                        {% if skill.image %}
                                            <img src="{{ url_for('static', filename=skill.image) }}" alt="{{ skill.name or 'Skill Image' }}">
                                        {% endif %}
                                        <div>
                                            {% if skill.name %}
                                                <strong>{{ skill.name }}</strong><br>
                                            {% endif %}
                                            <p>{{ skill.description|safe }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Informations sur les skills du personnage.</p>
                            {% endif %}
                        </div>
                        <div id="artefacts" class="tab-content">
                            <!-- Affichage des statistiques à focus -->
                            <div class="focus-stats">
                                <h3 hidden>Stats à Focus</h3>
                                <ul class="focus-stats-list">
                                    {% for stat in character.equipment_sets[0].focus_stats %}
                                        <li>{{ stat }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <h2>Artefacts</h2>

                            <!-- Liste des artefacts -->
                            <div class="artefacts-container">
                                <!-- Colonne gauche -->
                                <div class="artefacts-column">
                                    {% for artefact in character.equipment_sets[0].artefacts[:4] %}
                                        <div class="artefact-item" data-set="{{ artefact.set }}">
                                            <div class="artefact-item-content">
                                                <img src="{{ url_for('static', filename=artefact.image) }}" 
                                                     alt="{{ artefact.name }}" 
                                                     class="artefact-image"
                                                     onmouseover="showSetEffects('{{ artefact.set }}', event)"
                                                     onmouseout="hideSetEffects()">
                                                <div>
                                                    <div class="stat-main">
                                                        <div class="stat-container">
                                                            <span>{{ artefact.main_stat.name }}</span>
                                                            <img src="{{ url_for('static', filename='images/Stats_Principale.png') }}" alt="Statistique Principale">
                                                        </div>
                                                    </div>
                                                    <div class="stat-secondary-container">
                                                        {% for stat in artefact.secondary_stats %}
                                                            <div class="stat-secondary">
                                                                <div class="stat-container">
                                                                    <span>{{ stat.name }}</span>
                                                                    <img src="{{ url_for('static', filename='images/Stats_Secondaire.png') }}" alt="Statistique Secondaire">
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Colonne droite -->
                                <div class="artefacts-column">
                                    {% for artefact in character.equipment_sets[0].artefacts[4:] %}
                                        <div class="artefact-item" data-set="{{ artefact.set }}">
                                            <div class="artefact-item-content">
                                                <img src="{{ url_for('static', filename=artefact.image) }}" 
                                                     alt="{{ artefact.name }}" 
                                                     class="artefact-image"
                                                     onmouseover="showSetEffects('{{ artefact.set }}', event)"
                                                     onmouseout="hideSetEffects()">
                                                <div>
                                                    <div class="stat-main">
                                                        <div class="stat-container">
                                                            <span>{{ artefact.main_stat.name }}</span>
                                                            <img src="{{ url_for('static', filename='images/Stats_Principale.png') }}" alt="Statistique Principale">
                                                        </div>
                                                    </div>
                                                    <div class="stat-secondary-container">
                                                        {% for stat in artefact.secondary_stats %}
                                                            <div class="stat-secondary">
                                                                <div class="stat-container">
                                                                    <span>{{ stat.name }}</span>
                                                                    <img src="{{ url_for('static', filename='images/Stats_Secondaire.png') }}" alt="Statistique Secondaire">
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Section des noyaux -->
                            <div class="cores-section">
                                <h2>Noyaux</h2>
                                <div class="cores-container">
                                    {% for core in character.equipment_sets[0].cores %}
                                        <div class="core-item">
                                            <img src="{{ url_for('static', filename=core.image) }}" alt="{{ core.name }}" class="core-image">
                                            <div class="stats">
                                                <div class="stat-main">
                                                    <div class="stat-container">
                                                        <span>{{ core.main_stat.name }}</span>
                                                        <img src="{{ url_for('static', filename='images/Stats_Principale.png') }}" alt="Statistique Principale">
                                                    </div>
                                                </div>
                                                <div class="stat-secondary">
                                                    <div class="stat-container">
                                                        <span>{{ core.secondary_stat.name }}</span>
                                                        <img src="{{ url_for('static', filename='images/Stats_Secondaire.png') }}" alt="Statistique Secondaire">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="activeSetEffectsData" type="application/json">
        {{ character.active_set_effects|tojson }}
    </script>
    <script id="equipmentSetsData" type="application/json">
        {{ character.equipment_sets|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/character_details.js') }}"></script>
</body>
</html>