{% extends 'base.html' %}

{% block title %}Characters{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='css/characters.css') }}" />
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='css/partials/add_character_modal.css') }}" />
{% endblock %}

{% block content %}
<main class="container">
    <h1>Characters</h1>
    {% if session.username and session.rights and ('Admin' in session.rights or 'SuperAdmin' in session.rights) %}
        <button id="add-character-btn" class="admin-btn">
            Ajouter un personnage
        </button>
    {% endif %}
    <p>
        Discover the characters from Solo Leveling Arise.
    </p>
    <nav class="character-types">
        <button class="type-button" data-type="All">
            All
        </button>
        {% for type in character_types %}
            <button class="type-button" data-type="{{ type }}">
                <img src="{{ url_for('static', filename='images/Types/Type_' ~ type ~ '.webp') }}"
                     alt="{{ type }}" />
            </button>
        {% endfor %}
    </nav>
    <nav class="rarity-filters">
        <button class="rarity-button" data-rarity="All">
            All
        </button>
        {% for rarity in rarities %}
            <button class="rarity-button" data-rarity="{{ rarity }}">
                {{ rarity }}
            </button>
        {% endfor %}
    </nav>
    <ul id="character-grid">
        {% for image in images %}
            <li data-type="{{ image.type }}" data-rarity="{{ image.rarity }}">
                <a href="{{ url_for('characters.character_details', alias=image.alias) }}">
                    <img src="{{ url_for('static', filename=image.path) }}"
                         alt="{{ image.name }}" />
                </a>
                <p hidden>{{ image.name }}</p>
            </li>
        {% endfor %}
    </ul>
</main>
{% include 'partials/add_character_modal.html' %}
{% endblock %}

{% block body_js %}
    <script src="{{ asset_url_for('static', filename='js/characters.js') }}"></script>
{% endblock %}
