{% extends 'base.html' %}

{% block title %}Solo Leveling Arise : Characters{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/characters.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/add_character_modal.css') }}" />
{% endblock %}

{% block content %}
    <h1>Characters</h1>
    {% if session.username and session.rights and ('Admin' in session.rights or 'SuperAdmin' in session.rights) %}
    <button id="add-character-btn" class="admin-btn">
        Ajouter un personnage
    </button>
    {% endif %}
    <p>
        Discover the characters from Solo Leveling Arise.
    </p>
    <section class="character-types">
        <button class="type-button" data-type="All">All</button>
        {% for type in character_types %}
        <button class="type-button" data-type="{{ type }}">
            <img src="{{ url_for('static', filename='images/Types/Type_' ~ type ~ '.webp') }}" alt="{{ type }}" />
        </button>
        {% endfor %}
    </section>
    <section class="rarity-filters">
        <button class="rarity-button" data-rarity="All">All</button>
        {% for rarity in rarities %}
        <button class="rarity-button" data-rarity="{{ rarity }}">{{ rarity }}</button>
        {% endfor %}
    </section>
    <ul id="character-grid">
        {% for image in images %}
        <li data-type="{{ image.type }}" data-rarity="{{ image.rarity }}">
            <a href="{{ url_for('characters_public.character_details', alias=image.alias) }}">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ url_for('static', filename=image.path) }}" alt="{{ image.name }}" />
            </a>
            <p hidden>{{ image.name }}</p>
        </li>
        {% endfor %}
    </ul>
    {% include 'partials/add_character_modal.html' %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/characters_filter.js') }}"></script>
{% endblock %}
