<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solo Leveling Arise : Game Contents</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/game_contents.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Game Contents</h1>
      <p>Explore the various game contents available in Solo Leveling Arise.</p>
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/Menus/MenuDuJeu2.webp') }}"
          alt="Menu du Jeu"
          class="menu-image"
        />
        <!-- Zone 1 -->
        <div class="hotspot hotspot-1">
          <span class="tooltip">Description for Element 1</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-2">
          <span class="tooltip">Description for Element 2</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-3">
          <span class="tooltip">Description for Element 3</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-4">
          <span class="tooltip">Description for Element 4</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-5">
          <span class="tooltip">Description for Element 5</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-6">
          <span class="tooltip">Description for Element 6</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-7">
          <span class="tooltip">Description for Element 7</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-8">
          <span class="tooltip">Description for Element 8</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-9">
          <span class="tooltip">Description for Element 9</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-10">
          <span class="tooltip">Description for Element 10</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-11">
          <span class="tooltip">Description for Element 11</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-12">
          <span class="tooltip">Description for Element 12</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-13">
          <span class="tooltip">Description for Element 13</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-14">
          <span class="tooltip">Description for Element 14</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-15">
          <span class="tooltip">Description for Element 15</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-16">
          <span class="tooltip">Description for Element 16</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-17">
          <span class="tooltip">Description for Element 17</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-18">
          <span class="tooltip">Description for Element 18</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-19">
          <span class="tooltip">Description for Element 19</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-20">
          <span class="tooltip">Description for Element 20</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-21">
          <span class="tooltip">Description for Element 21</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-22">
          <span class="tooltip">Description for Element 22</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-23">
          <span class="tooltip">Description for Element 23</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-24">
          <span class="tooltip">Description for Element 24</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-25">
          <span class="tooltip">Description for Element 25</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-26">
          <span class="tooltip">Description for Element 26</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-27">
          <span class="tooltip">Description for Element 27</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-28">
          <span class="tooltip">Description for Element 28</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-29">
          <span class="tooltip">Description for Element 29</span>
        </div>
        <!-- Zone 30 -->
        <div class="hotspot hotspot-30">
          <span class="tooltip">Description for Element 30</span>
        </div>
      </div>
    </div>
  </body>
</html>
