<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solo Leveling Arise : Game Modes</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/icon-onglet.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/game_modes.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Game Modes</h1>
      <p>Explore the various game modes available in Solo Leveling Arise.</p>
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/Menus/MenuDuJeu1.webp') }}"
          alt="Menu du Jeu"
          class="menu-image"
        />
        <!-- Zone 1 -->
        <div class="hotspot hotspot-1" onclick="window.location.href='{{ url_for('game_modes') }}'">
          <span class="tooltip">Games Modes</span>
        </div>
        <!-- Zone 2 -->
        <div class="hotspot hotspot-2" onclick="window.location.href='{{ url_for('inner_SJW') }}'">
          <span class="tooltip">Sung jinwoo</span>
        </div>
        <!-- Zone 3 -->
        <div class="hotspot hotspot-3" onclick="window.location.href='{{ url_for('inner_characters') }}'">
          <span class="tooltip">Hunters</span>
        </div>
        <!-- Zone 4 -->
        <div class="hotspot hotspot-4" onclick="window.location.href='{{ url_for('inner_SJW') }}?tab=shadows'">
          <span class="tooltip">Shadows</span>
        </div>
        <!-- Zone 5 -->
        <div class="hotspot hotspot-5" onclick="window.location.href='{{ url_for('inner_SJW') }}?tab=monarchs'">
          <span class="tooltip">Monarch</span>
        </div>
        <!-- Zone 6 -->
        <div class="hotspot hotspot-6">
          <span class="tooltip">Weapon</span>
        </div>
        <!-- Zone 7 -->
        <div class="hotspot hotspot-7">
          <span class="tooltip">Artefacts</span>
        </div>
        <!-- Zone 8 -->
        <div class="hotspot hotspot-8">
          <span class="tooltip">Cores</span>
        </div>
        <!-- Zone 9 -->
        <div class="hotspot hotspot-9">
          <span class="tooltip">Summon</span>
        </div>
        <!-- Zone 10 -->
        <div class="hotspot hotspot-10">
          <span class="tooltip">Shop</span>
        </div>
        <!-- Zone 11 -->
        <div class="hotspot hotspot-11">
          <span class="tooltip">Challenges</span>
        </div>
        <!-- Zone 12 -->
        <div class="hotspot hotspot-12">
          <span class="tooltip">Missions</span>
        </div>
        <!-- Zone 13 -->
        <div class="hotspot hotspot-13">
          <span class="tooltip">Achivements</span>
        </div>
        <!-- Zone 14 -->
        <div class="hotspot hotspot-14">
          <span class="tooltip">Codex</span>
        </div>
      </div>
    </div>
  </body>
</html>
