{% extends "base.html" %}
{% block title %}Modes de jeu{% endblock %}

{% block head_css %}
<link
  rel="stylesheet"
  href="{{ asset_url_for('static', filename='css/game_modes.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Modes de jeu</h1>
  <p>Explorez les différents modes de jeu disponibles dans Solo Leveling Arise.</p>
  <div class="image-container">
    <img
      src="{{ url_for('static', filename='images/Menus/MenuDuJeu2.webp') }}"
      alt="Menu du Jeu"
      class="menu-image"
    />
    <!-- Zone 1 -->
    <div class="hotspot hotspot-1">
      <div class="tooltip-container">
        <span class="tooltip">Histoire</span>
      </div>
    </div>
    <!-- Zone 2 -->
    <div class="hotspot hotspot-2">
      <div class="tooltip-container">
        <span class="tooltip">Archives</span>
      </div>
    </div>
    <!-- Zone 3 -->
    <div class="hotspot hotspot-3">
      <div class="tooltip-container">
        <span class="tooltip">Épreuves</span>
      </div>
    </div>
    <!-- Zone 4 -->
    <div class="hotspot hotspot-4">
      <div class="tooltip-container">
        <span class="tooltip">Portes</span>
      </div>
    </div>
    <!-- Zone 6 -->
    <div class="hotspot hotspot-6">
      <div class="tooltip-container">
        <span class="tooltip">Donjon</span>
      </div>
    </div>
    <!-- Zone 7 -->
    <div class="hotspot hotspot-7">
      <div class="tooltip-container">
        <span class="tooltip">Chaos</span>
      </div>
    </div>
    <!-- Zone 8 -->
    <div class="hotspot hotspot-8">
      <div class="tooltip-container">
        <span class="tooltip">Événements limités</span>
      </div>
    </div>
    <!-- Zone 9 -->
    <div class="hotspot hotspot-9">
      <div class="tooltip-container">
        <span class="tooltip">Course de vitesse</span>
      </div>
    </div>
    <!-- Zone 10 -->
    <div class="hotspot hotspot-10">
      <div class="tooltip-container">
        <span class="tooltip">Boss de guilde</span>
      </div>
    </div>
    <!-- Zone 11 -->
    <div class="hotspot hotspot-11">
      <div class="tooltip-container">
        <span class="tooltip">POD</span>
      </div>
    </div>
    <!-- Zone 12 -->
    <div class="hotspot hotspot-12">
      <div class="tooltip-container">
        <span class="tooltip">WOBL</span>
      </div>
    </div>
    <!-- Zone 13 -->
    <div class="hotspot hotspot-13">
      <div class="tooltip-container">
        <span class="tooltip">Simulation</span>
      </div>
    </div>
    <!-- Zone 14 -->
    <div class="hotspot hotspot-14">
      <div class="tooltip-container">
        <span class="tooltip">Raid limité</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
