{% extends 'base.html' %}

{% block title %}Guides{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
    <div class="container">
      <section>
        <h1>Guides</h1>
        <p
          style="
            color: #ffcc00;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
          "
        >
          Find useful guides to help you progress in Solo Leveling Arise.
        </p>
      </section>
    </div>
{% endblock %}
