<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solo Leveling Arise : Home</title>
    <link
      rel="stylesheet"
      href="{{ asset_url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/icon-onglet.png') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Welcome to Solo Leveling Arise</h1>
      <p
        style="
          color: #ffcc00;
          font-weight: bold;
          text-align: center;
          margin-top: 20px;
        "
      >
        This site is currently under development. Stay tuned for updates!
      </p>
    </div>
  </body>
</html>
