<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="navbar">
    <ul>
        <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
        <li><a href="/game-contents" class="{% if request.path == '/game-contents' %}active{% endif %}">Game Contents</a></li>
        <li>
            <a href="/characters" class="{% if request.path.startswith('/characters') %}active{% endif %}">
                Characters
            </a>
        </li>
        <li><a href="/guides" class="{% if request.path == '/guides' %}active{% endif %}">Guides</a></li>
    </ul>
    <div class="user-logo">
        <img src="{{ url_for('static', filename='images/utilisateur-noir.jpg') }}" alt="User" />
    </div>
</nav>