{% extends 'base.html' %}

{% block title %}Solo Leveling Arise : Sung Jinwoo{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SJW.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/edit_sjw_modal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/add_shadow_modal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/add_weapon_modal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/add_sjw_skill_modal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/review.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/weapons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/passives.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/skills.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/gems.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/shadows.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/monarchs.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/artefacts.css') }}" />
{% endblock %}

{% block content %}
    <div class="layout" style="background-image: url('{{ url_for('static', filename='images/Background/BG_Dark.webp') }}');">
        <div class="image-column">
            <div class="character-image">
                <img src="{{ url_for('static', filename=character.image) }}" alt="{{ character.name }}" />
            </div>
        </div>
        <div class="content-column">
            <div class="container">
                <h1>{{ character.name }}</h1>
                {% if session.username and session.rights and ('Admin' in session.rights or 'SuperAdmin' in session.rights) %}
                    <button id="edit-sjw-btn" class="admin-btn">Modifier Sung Jinwoo</button>
                    {% include 'partials/edit_sjw_modal.html' %}
                {% endif %}
                <div class="character-image">
                    <img src="{{ url_for('static', filename=character.image) }}" alt="{{ character.name }}" />
                </div>
                <div class="character-info">
                    <div class="tabs-and-content">
                        <div class="tabs">
                            <div class="tab" data-tab="description">Description</div>
                            <div class="tab" data-tab="weapons">Armes</div>
                            <div class="tab" data-tab="passives">Bénédictions</div>
                            <div class="tab" data-tab="skills">Compétences</div>
                            <div class="tab" data-tab="gems">Gemmes</div>
                            <div class="tab" data-tab="shadows">Ombres</div>
                            <div class="tab" data-tab="monarchs">Monarques</div>
                            <div class="tab" data-tab="artefacts" id="artefacts-tab">Artefacts</div>
                            <div class="tab" id="dropdown-tab">
                                <select id="equipment-select">
                                    {% if character.equipment_sets and character.equipment_sets|length > 0 %}
                                        {% for set in character.equipment_sets %}
                                            <option value="{{ loop.index0 }}">{{ set.set_name }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option disabled>Aucun set équipé</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        {% include 'partials/review.html' %}
                        {% include 'partials/weapons.html' %}
                        {% include 'partials/passives.html' %}
                        {% include 'partials/skills.html' %}
                        {% include 'partials/gems.html' %}
                        {% include 'partials/shadows.html' %}
                        {% include 'partials/monarchs.html' %}
                        {% include 'partials/artefacts.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script id="equipmentSetsData" type="application/json">
        {% if character.equipment_sets and character.equipment_sets|length > 0 %}
            {{ character.equipment_sets|tojson }}
        {% else %}
            []
        {% endif %}
    </script>
    <script id="equipmentSetsEffectsData" type="application/json">
        {{ panoplies_effects|tojson }}
    </script>
    <script id="coresEffectsData" type="application/json">
        {{ cores_effects|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/SJW.js') }}"></script>
{% endblock %}
